@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>home controller works for Index.cshtml</p>
</div>

@section Scripts
{
    <script type="text/javascript">
        // alert("welcome");
    </script>
}

@section Css
{
    <style>
        #test{
            color:red;
        }
    </style>
}
