@using TurkcellDemo.Web.ViewModels
@model ProductListPartialViewModel

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var product in Model.ProductsPartial)
       {
           <tr>
               <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Stock</td>
                <td>@product.Price</td>
           </tr>

       }
    </tbody>
</table>