@{
    ViewData["Title"] = "Example - Index";
    Layout = "ExampleLayout";
}

<p class="fw-bold fs-4">Controller: <span class="fw-normal">Example</span>  Action: <span class="fw-normal">Index</span></p>



